[submodule "files/rodjek-vim-puppet"]
	path = files/rodjek-vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "files/syntastic"]
	path = files/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "files/tpope-vim-rails"]
	path = files/tpope-vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "files/tpope-vim-fugitive"]
	path = files/tpope-vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
